page-quantitativos {
    ion-item{
        background: color($colors, card-background-2) !important;
    }

    ion-card{
        margin: 0px 0px 10px 0px !important;
    }

    .card-md{
        width: 100%;
    }
    
    ion-badge{
        position: fixed;
        right: 1rem;
        width: 4.5rem;
        background-color: color($colors, secondary);
    }

    
}
