<!--
  Generated template for the AdicionarMangaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Adicionar Mangá</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding (click) = "fecharAutocomplete()">
  <div class="row">
    <!--(ionInput)="carregarAutocomplete()-->
    <ion-col id="col-titulo" class="ion-float-left"> 
      <ion-item> 
        <ion-label floating >Nome do mangá</ion-label>
        <ion-input type="text" [(ngModel)]="manga.titulo"></ion-input>
      </ion-item>
    </ion-col>
    <button id="btn-search" ion-button class="ion-button ion-float-right" (click)="carregarAutocomplete()"><ion-icon name="search"></ion-icon>
    </button>
  </div>
  <ion-list *ngIf="mangaAutocomplete?.length > 0">
		<ion-item *ngFor="let manga of mangaAutocomplete" (click)="carregarInfo(manga)">
      <ion-thumbnail item-start>
        <img *ngIf="manga.imagem" fixed [src]="manga.imagem" class="img-query">
      </ion-thumbnail>
      <p class="autocomplete-text">{{manga.titulo}}</p>

      <!--<img fixed [src]="manga.imagem">-->
    
    </ion-item>
    
  </ion-list>

  <!-- or with standalone set to true -->
  <ion-item>
    <ion-label floating >Último volume comprado</ion-label>
    <ion-input width=20 type="number" [(ngModel)]="manga.ultimoComprado"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Último volume lido</ion-label>
    <ion-input type="number" [(ngModel)]="manga.ultimoLido"></ion-input>
  </ion-item>

  
  <ion-thumbnail id="manga-img">
    <img *ngIf="manga.imagem" [src]="manga.imagem">
  </ion-thumbnail>

  <button ion-button block (click) = "salvar()">
    Salvar
  </button>
</ion-content>
