<ion-header>
  <ion-navbar>
      <button color="light" [hidden]="isSearching" ion-button icon-end menuToggle > <ion-icon name="menu"></ion-icon> </button> 
    <ion-title [hidden]="isSearching">
      Coleção de Mangás
    </ion-title>
    <ion-input #search style="display: none;" id="search-input" placeholder="Buscar" (ionChange)="filtrar()" [(ngModel)]="query"></ion-input>
    
    <ion-buttons end>
      <button color="light" [hidden]="isSearching" ion-button icon-end (click)="mostrarFiltro();"> <ion-icon name="options"></ion-icon> </button> 
      <button color="light" [hidden]="isSearching" ion-button icon-end (click)="mostrarBusca();"> <ion-icon name="search"></ion-icon> </button> 
      <button color="light" [hidden]="!isSearching" ion-button icon-end (click)="esconderBusca()"> <ion-icon name="close"></ion-icon> </button> 
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>

      <div color="background">
        <ion-row>
          <ion-col col-3> 
            <img width="50" height="50" src="../assets/imgs/icon_small.png">
          </ion-col>
          <ion-col style="padding-top: 12px;">
            <strong>Coleção de Mangás</strong>
            <br>
            <small>Desenvolvido por: Firzen592798</small>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="menu-item" menuToggle  color="primary" (click)="irParaAjuda(fab)">
        <ion-icon class="menu-icon" name="help" item-start></ion-icon>
        Como usar o aplicativo?
      </ion-item>
      <ion-item class="menu-item" menuToggle  color="primary" (click)="irParaQuantitativos(fab)" >
        <ion-icon class="menu-icon" name="podium" item-start></ion-icon>
        Meus Quantitativos
      </ion-item>
      <ion-item class="menu-item" menuToggle  color="primary" (click)="irParaSincronizar(fab)" >
        <ion-icon class="menu-icon" name="contact" item-start></ion-icon>
        Meu cadastro
      </ion-item>
      <!--<ion-item class="menu-item" menuToggle (click)="sair()" color="primary" >
        <ion-icon class="menu-icon" name="close" item-start></ion-icon>
        Sair
      </ion-item>-->
    </ion-list>
  </ion-content>
</ion-menu>

  <ion-fab right bottom #fab >
    <button ion-fab (click)="irParaAdicionarManga(fab)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-content>
    <ion-row>
      <!--<ion-item>
        <ion-label>Apenas Incompletos</ion-label>
        <ion-toggle [(ngModel)]="apenasNaoCompletos" (change)="mostrarFiltro($event)"></ion-toggle>
      </ion-item>-->
    </ion-row>   
    <div padding *ngIf="lista_mangas && !lista_mangas.length"> 
      Você não possui mangás adicionados. <a (click)="irParaAdicionarManga()"> Clique aqui </a> para adicionar
    </div>
    <div *ngFor="let manga of lista_mangas_filtrado">
    <ion-card *ngIf="!apenasNaoCompletos || !manga.completo" (click) = "irParaCapitulos(manga);">
      <ion-item class="item-manga">
        <ion-thumbnail item-start>
          <img *ngIf="manga.imagem" [src]="manga.imagem">
          <img *ngIf="!manga.imagem" src="../assets/imgs/manga.png">
        </ion-thumbnail>
        <ion-card-title text-wrap>
          {{manga.titulo}}
        </ion-card-title>
        <span style="font-weight: bold; color: grey; font-size: 1.3rem; margin-bottom: 5px;">{{manga.autor}}</span>  
        <br>    
        <span> Último comprado: <ion-badge color="comprado">{{manga.uComprado}}</ion-badge> </span>
        <br/>
        <span> Último lido: <ion-badge color="lido">{{manga.uLido}}</ion-badge> </span>     
        <br>   
          
        <ion-row>
          <button small ion-button icon-only clear (click)="irParaEditarManga(manga);$event.stopPropagation();"><ion-icon name="create"></ion-icon>  </button>
          <button small ion-button icon-only clear (click)="apagarManga(manga);$event.stopPropagation();"><ion-icon name="trash"></ion-icon></button>
          <button small ion-button icon-start clear (click)="toggleCompleto(manga);$event.stopPropagation();" [ngClass]="manga.completo? 'completo' : 'incompleto'">
            <ion-icon [hidden]="!manga.completo" name="checkmark-circle"></ion-icon>
            <ion-icon [hidden]="manga.completo" name="radio-button-off"></ion-icon>
            Completo
          </button>
        </ion-row>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
