page-home {
    /*.card{
        background: linear-gradient(color($colors, card-background-2), color($colors, card-background));
    }*/

    .button-md{
        border: 1px solid;
        background-color: white !important;
        border-radius: 5px;
    }

    .card-content-md{
        padding: 3px 15px;
    }

    .incompleto{
        color: lightgrey;
    }

    .item-manga{
        height: 120px !important;
        padding-left: 0px;
    }

    img{
        height: 120px !important;
    }

    .numeros-container{
        padding: 3px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        border: 1px solid black;
        border-radius: 5px;
        background: color($colors, card-background-2);
        width: 190px;
    }

    ion-card-title{
        padding: 0px !important;
    }
    
}
