<!--
  Generated template for the CapitulosMangaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{manga.titulo}} - Volumes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let volume of manga.lista" [class]="volume.status" (click)="alterarStatus(volume)">
    <div class="text">{{volume.numero}}</div>
  </div>
  <!--*ngIf="isNovoManga" -->

</ion-content>

<ion-footer class="footer">
  <!--*ngIf="isNovoManga"-->

    <ion-toolbar>
     <!--<ion-buttons left class="toolbar-btn">
          <button icon-only ion-button round large (click)=removerVolume()> 
              <ion-icon name="remove"></ion-icon>
          </button>
      </ion-buttons>-->
      <ion-row class="footer">
        <div col-3 text-center>
        <button icon-only ion-button round class="toolbar-btn" (click)=removerVolume()> 
          <ion-icon name="remove"></ion-icon>
        </button>
        </div>
        <div style="text-align: center;" col-6>
            <span><div class="comprado-legenda"></div> Comprado</span><br/>
            <span><div class="lido-legenda"></div> Lido</span><br/>
            <span><div class="naocomprado-legenda"></div> Não possui</span>
        </div>
      <div col-3 text-center>
        <button icon-only ion-button round class="toolbar-btn" (click)=adicionarVolume()>
          <ion-icon name="add"></ion-icon>
        </button>
      </div>      
      </ion-row>
      <!--<ion-buttons end class="toolbar-btn" color="secondary">
      </ion-buttons>-->
    </ion-toolbar>
    <button *ngIf="isNovoManga" (click)="finalizar()" id="finalizar-btn" block ion-button>
      Salvar
    </button>
  </ion-footer>