page-capitulos-manga {

/*.container{    
    background-color: blue;
    position: relative;
    width: 100%;
    padding-top: 16.666%;
    border-radius: 20px;
    border: 1px solid lightgray;
}*/

.container {
  float:left;
  position: relative;
  width: 16%;
  padding-bottom : 16%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  background-position:center center;
  background-repeat:no-repeat;
  border-radius: 12px;
  background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.text {
   position:  absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin-top: calc(50% - 10px);
   text-align: center;
   font-size: 20px;
   color: white;
 }

 ion-col{
    margin: 1.2%;
 }

 .l{
    @extend .container;
    background-color: color($colors, lido);
 }

 .c{
    @extend .container;
     background-color: color($colors, comprado);
 }

 .nc{
    @extend .container;
    background-color: color($colors, naocomprado);
 }

 .add{
   @extend .container;
   //background-color: #E8AC41;
   background-color: white;
   color: black;
 }

 .legenda{
   display: inline-block; height: 10px; width: 10px;  border: 1px solid grey;
 }
 .l-legenda{
   @extend .legenda;
   background-color: color($colors, lido);
 }
 .c-legenda{
   @extend .legenda;
   background-color: color($colors, comprado);
 }
 .nc-legenda{
   @extend .legenda;
   background-color: color($colors, naocomprado);
 }

 .toolbar-btn{
   width: 50px;
   height: 50px;
   border-radius: 30px;
   background-color: color($colors, primary)
 }

 #finalizar-btn{
   width: 80%;
   margin-left: 10%;
   margin-bottom: 8px;
   margin-top: 5px;
 }

 .footer-md::before{
    height: 0px !important;
 }

 .footer{
   background: color($colors, card-background);
 }

 ion-toolbar{
   padding: 0px !important;
 }
}