<ion-header>
  <ion-navbar>
    <ion-title>Meu cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="loading"> 

  </div>
  <div *ngIf="!loading">
    <div *ngIf="!usuario">
      <ion-card color="card-background-2">
        <ion-card-content>
          Crie um cadastro para manter sua coleção guardada no banco de dados online
        </ion-card-content>
        <ion-item>
          <button clear (click)="irParaCadastro()" ion-button>
            Criar cadastro
          </button>
        </ion-item>
      </ion-card>

      <br>
      <strong>Já possui um cadastro?</strong>
      <ion-item>
        <ion-label floating >E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>

      <button (click)="entrar()" block ion-button margin-top>
        Entrar
      </button>

      <button (click)="recuperarSenha()" block ion-button margin-top>
        Recuperar senha
      </button>

    </div>
    <div *ngIf="usuario">
      <ion-card color="card-background">
        <ion-card-content>
          Seus mangás estão sincronizados
        </ion-card-content>
      </ion-card>
      
      <ion-card color="card-background">
        <ion-card-content>
          <strong>E-mail: </strong>{{ usuario.email }}
        </ion-card-content>
        
      </ion-card>

      <ion-footer no-border no-padding style="margin:2rem 0rem !important;">
        <div style="margin:0rem 2rem !important;">
          <button (click)="desativarSincronizacao()"  block ion-button>
            Sair da conta
          </button>
        </div>
      </ion-footer>
    </div>
    <div *ngIf="!usuario"  (click)="irParaCadastro()" >

    </div>
  </div>
</ion-content>
